
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-submenu/dist/css/bootstrap-submenu";

.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.glyphicon {
    cursor: pointer;
}

.glyphicon-chevron-right {
    float: right;
}

.glyphicon-pencil {
    float: right;
}
